# Node modules 
node_modules/
**/node_modules/

# Logs
*.log
**/*.log


# Environnements (exclut tous les .env sauf les templates)
.env
.env.*
!.env.example
!.env*.example
**/.env
**/.env.*
!**/.env.example
!**/.env*.example


# Build
dist/
build/
**/dist/
**/build/


# Autres fichiers temporaires
*.tmp
*.temp

# TypeScript incremental builds
*.tsbuildinfo
**/*.tsbuildinfo

# Vite (cache)
.vite/
**/.vite/