.article {
  background: var(--gradient-color-card);
  min-width: 15rem;
  height: 5rem;
  border-radius: var(--radius-card);
  padding: 15px;
  position: absolute;
  cursor: pointer;

  main {
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
