.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label{
    font-weight: bold;
}

.search,
.input,
.password,
.email,
.textarea,
.select,
.label-file  {
  background: var(--gradient-yellow-blue-black-input);
  border-radius: var(--radius-input);
  color: var(--color-white);
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  transition: filter 0.3s ease;
}

.input:focus,
.password:focus,
.email:focus,
.textarea:focus,
.select:focus,
.search:focus {
  filter: brightness(1.4);
}

.checkboxWrapper{
    display: flex;
    align-items: center;
    & label{
        margin-left: 15px;
    }
}
.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--color-yellow);
  border-radius: 0.25rem;
  cursor: pointer;
}

.checkbox:checked {
  background: var(--color-yellow);
}

select option {
  background: var(--color-blue);
  color: var(--color-label);
}

input[type="file"] {
  display: none;
}

textarea{
    height: 200px;
}