body {
  padding: 0 25px;
}

.contentFav {
  position: absolute;
  top: 100px;
  right: 0;
}

@include respond-to(tablet) {
  body {
    padding: 0 50px;
  }
  main{

    .reading{
      div{

        h2{
          width: 100%;
          text-align: center;
        }
        
        span{

          p{
            text-align: justify;
            width: 100%;
          }
        }
      }
    }
  }
}
