.logo {
  margin: 0 auto;
  min-height: 160px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.logoImg {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 250px;
  transform: translateX(-50%);
  z-index: 1;
  filter: grayscale(0.8);
  opacity: 0.2;
  max-width: 100%;
}
.logoTitle {
  z-index: 3;
    h2{
  color: rgb(126, 117, 100);

    }
}

@include respond-to(desktop) {
  .logo {
    margin: 3rem 0 6rem 0;
  }
  .logoImg {
    top: -100px;
    width: 500px;
  }
}
