.wave {
  display: inline-block;
  color: var(--color-wave);
  width: 100%;
  padding: 25px;
  transform: scale(1) !important;
}

.wave img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1);
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(1) brightness(1) !important;
}

@include respond-to(tablet) {
  .wave img {
    width: 65%;
    margin: 0 auto;
  }
}

@include respond-to(desktop) {
  .wave img {
    width: 100%;
    margin: 0 auto;
  }
  .wave-space {
    margin-top: -125px;
  }
}
