.wave {
  display: inline-block;
  color: var(--color-wave);
  width: 100%;
  padding: 25px;
  transform: scale(1) !important;
  filter: brightness(3) grayscale(.7);
  & svg {
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1) !important;

    &:active,
    &:hover {
      transform: scale(1) !important;
    }

    @include respond-to(desktop) {
      width: 50%;
      margin: 0 auto;
    }

    @include respond-to(tablet) {
      width: 65%;
      margin: 0 auto;
    }
  }
}
@include respond-to(desktop) {
  .wave-space {
    margin-top: -125px;
  }
}
