.button {
  cursor: pointer;
   box-shadow: var(--box-shadow);

  color: var(--color-white);
  background: var(--gradient-button);
  border-radius: var(--radius-button);
  transform: scale(1);
  transition: ease-in-out 0.3s;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
  min-height: 40px;
  backdrop-filter: blur(3px);

  p {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
  }

  @include respond-to(tablet) {
    font-size: 0.5em;
    min-width: 120px;
    min-height: 20px;
    overflow: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }

  @include respond-to(desktop) {
    padding: 0.5rem 0.5rem;
    font-size: 0.5em;
    min-width: 150px;
    min-height: 20px;
    height: auto;
  }
  & svg {
    height: 1rem;
  }
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  height: 100%;
  cursor: pointer;

  @include respond-to(desktop) {
    padding: 0;
  }
}
