.titleWithParagraph{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    text-align: justify;
}

@include respond-to(desktop){
    .titleWithParagraph{
        padding: 0 100px;
    }
}
