@use "./mixins" as *;
@use "./responsive" as *;
* {
  box-sizing: border-box;
}

html {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @include fluid-font(calc(var(--font-font-size-px, 16px)), 2vw, 32px);
  @include respond-to(tablet) {
    @include fluid-font(
      calc(var(--font-font-size-px, 19px) + 3px),
      2.5vw,
      32px
    );
  }
  @include respond-to(tablet) {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  @include respond-to(desktop) {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: auto;
    @include fluid-font(calc(var(--font-font-size-px, 21px) + 5px), 3vw, 32px);
  }
}

/* Ensure React root fills the viewport. */
#root {
  height: 100%;
}

h1 {
  @include fluid-font(2.5rem, 5vw, 3.5rem);
}
h2 {
  @include fluid-font(2rem, 4vw, 3rem);
  @include respond-to(desktop) {
    @include fluid-font(1.5rem, 4vw, 1rem);
  }
}
h3 {
  @include fluid-font(1.5rem, 3vw, 2.5rem);
}
h4 {
  @include fluid-font(1.2rem, 2vw, 2rem);
}
p,
label,
input,
textarea,
button,
li,
span {
  @include fluid-font(1rem, 2vw, 1.2rem);
}
* {
  transition: all 0.3s ease;
}

body {
  font-family: var(--font-main);
  background: rgb(var(--color-noir));
  margin: 0;
  color: rgb(var(--color-taupe));
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainLayout {
  width: 100%;
  flex: 1 1 auto;
  padding-top: calc(var(--header-height) + 15px);
  padding-bottom: calc(var(--footer-height) + var(--footer-offset) + 5px);
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include respond-to(tablet) {
    h2,
    p {
      width: 50%;
      margin: 0 auto;
    }
    h2 {
      font-size: 1.9rem;
    }
  }
  @include respond-to(desktop) {
    h2,
    p {
      width: 50%;
      margin: 0 auto;
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(var(--couleur-taupe));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-titles-weight);
}

.flex-end {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
  gap: 1rem;

  button {
    font-size: 0.8rem;
  }
  @include respond-to(desktop) {
    width: 100%;
    margin: 1rem auto;
    padding: 0 100px;

    button {
      font-size: 0.5rem !important;
    }
  }
}
