@use './mixins' as *; 
@use './responsive' as *;
* {
  box-sizing: border-box;
}

html {
  @include fluid-font(calc(var(--font-font-size-px, 16px)), 2vw, 32px);
  @include respond-to(tablet) {
    @include fluid-font(calc(var(--font-font-size-px, 19px) + 3px), 2.5vw, 32px);
  }
  @include respond-to(desktop) {
    @include fluid-font(calc(var(--font-font-size-px, 21px) + 5px), 3vw, 32px);
  }
}

h1 {
  @include fluid-font(2.5rem, 5vw, 3.5rem);
}
h2 {
  @include fluid-font(2rem, 4vw, 3rem);
}
h3 {
  @include fluid-font(1.5rem, 3vw, 2.5rem);
}
h4 {
  @include fluid-font(1.2rem, 2vw, 2rem);
}
p,
label,
input,
textarea,
button,
li,
span {
  @include fluid-font(1rem, 2vw, 1.2rem);
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  padding: 0 15px;
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-titles-weight);
}
