/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/OpenSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* OpenDyslexic Alta */
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('../fonts/openDyslexic/OpenDyslexicAlta-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('../fonts/openDyslexic/OpenDyslexicAlta-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('../fonts/openDyslexic/OpenDyslexicAlta-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Lexend */
@font-face {
  font-family: 'Lexend';
  src: url('../fonts/lexend/Lexend-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../fonts/lexend/Lexend-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Verdana */
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/Verdana.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/Verdana-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/Verdana-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
