header img, footer img, span > svg{
    transition: .8s ease;
    transform: scale(1);
}

header img:active, footer img:active, span:active > svg{
    transition: .4s ease-out;
    transform: scale(1.4);
    filter: grayscale(1) brightness(2)!important;
    user-select: none;
}


@include respond-to(desktop){
    header img:hover, footer img:hover, span:hover > svg{
    transition: .4s ease-out;
    transform: scale(1.2);
    filter: grayscale(1) brightness(3)!important;
    user-select: none;
}

}