@use './responsive' as *;

header img,
footer img,
button{
  transition: 0.8s ease;
  transform: scale(1);
}
button:active {
  transition: 0.4s ease-out;
  transform: scale(0.7);
  filter: brightness(2);
}

header img:active,
footer img:active,
span:active > svg {
  transition: 0.4s ease-out;
  transform: scale(0.7);
  filter: grayscale(1) brightness(2) !important;
  user-select: none;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  filter: brightness(2) !important;
}
@include respond-to(desktop) {
  header img:hover,
  footer img:hover,
  span:hover > svg {
    transition: 0.4s ease-out;
    transform: scale(0.9);
    filter: grayscale(1) brightness(3) !important;
    user-select: none;
  }
  button:hover {
    transition: 0.4s ease-out;
    transform: scale(0.9);
    filter: brightness(3) !important;
  }
}
