.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;



}

@include respond-to(tablet) {
  .section {
    width: 50%;
    margin: 0 auto;
  }
}

@include respond-to(desktop) {
  .section {
    margin: 0 auto;
  }
}
