.ul {
  cursor: pointer;
  height: 5rem;
  text-align: center;
  border-radius: var(--radius-card);
  box-shadow: 0 4px 32px 0 rgba(116, 18, 101, 0.31),
    0 1.5px 6px 0 rgba(255, 255, 255, 0.641) inset,
    0 0 0 2px var(--color-rose-fad) inset;
  backdrop-filter: blur(12px);
  padding: 15px;

  li {
    border-radius: var(--radius-card);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  @include respond-to(desktop) {
    max-width: 400px;
    &:hover {
      filter: brightness(2);
    }
  }

  &:active {
    filter: brightness(2);
  }
}
