.ul {
  cursor: pointer;
  height: 5rem;
  background: var(--gradient-card-nav);
  border-radius: var(--radius-card);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(4px);
  transform: scale(1);

  li {
    border-radius: var(--radius-card);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 15px;
    overflow: auto;
  }
}
@include respond-to(desktop) {
  .ul:hover {
    transform: scale(1.05);
    filter: brightness(2);
  }
}

.ul:active {
  filter: brightness(2);
}
